<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="story.js"> </script>
  </head>
  <body>
    <h2>Story Board</h2>
    <div ng-controller="StoryCtrl">
      <h3>backlog</h3>
      <ul>
        <li ng-repeat="backlogstory in backlogstories">{{backlogstory.title}}({{backlogstory.points}}) - {{backlogstory.description}}</li>
      </ul>
      <h3>in progress</h3>
      <ul>
        <li ng-repeat="inprogressstory in inprogressstories">{{inprogressstory.title}}({{inprogressstory.points}}) - {{inprogressstory.description}}</li>
      </ul>
      <h3>done</h3>
      <ul>
            <li ng-repeat="donestory in donestories">{{donestory.title}}({{donestory.points}}) - {{donestory.description}}</li>
      </ul>
      <h2>Create Story</h2>
      <form ng-submit="addstory()">
        <label>title:</label>
        <input type ="text" ng-model ="storytitle">
        <label>description:</label>
        <input type ="text" ng-model ="storydescription">
        <label>points:</label>
        <input type ="text" ng-model ="storypoints">
        <button>add story</button>
      </form>
        
  </div>
  </body>
</html>