<div >
  <h2>Stages</h2>
  <form name="addStageForm" ng-submit="addStage()" novalidate>
    <label>name:</label>
    <input type ="text" name="stageName" ng-model="stagename" ng-unique="stages">
    <button ng-disabled="addStageForm.stageName.$invalid">add stage</button>
    <p ng-show="addStageForm.stageName.$invalid">stage already exists</p>
    
  </form>
  <div>
    <ul ui-sortable ng-model="stages">
      <li ng-repeat="stage in stages">
      {{stage}}
      <button ng-click="up($index)" ng-show="!$first">up</button>
      <button ng-click="down($index)" ng-show="!$last">down</button>
      </li>
    </ul>
  </div>
</div>
