<div>
  <h2>Stories</h2>
  <div class="row">
    <div class="span3" ng-repeat="stage in stages">
    <h3>{{stage}} ({{totalPoints(stage)}})</h3>
    <ul>
      <li ng-repeat="story in stories | filter:{stage:stage}">
      {{story.title}}({{story.points}}) - {{story.description}}
      <button ng-click="move(story)" ng-show="stage != stages[stages.length-1]">move</button>
      </li>
    </ul>
  </div>
  </div>
  <h2>Create Story</h2>
  <form name="newStory" ng-submit="addStory()">
    <label>title:</label>
    <input type="text" ng-model="newstory.title">
    <label>description:</label>
    <input type="text" ng-model="newstory.description">
    <label>points:</label>
    <input type="number" name="points" ng-model="newstory.points">
    <button>add story</button>
  </form>
</div>
